//VARIABLE COLOR
$colorBlue: rgb(31, 91, 159);
$wisteria: rgb(188, 181, 243);
$font: rgb(41, 49, 51);
$white: rgb(256, 256, 256);
$black: rgb(0,0,0);
$red: #fb474b;
$yellow: #fb9b2d;
$lightGreen: #5cf45c;
$green: #4aea99;
$darkGreen: #37dede;
$tree: #3dd368;



